*{
    margin: 0;
    padding: 0;
}
.vertical{
    background-color: #003580;
    height: 37vh;
    width: 15vw;
    margin-left: 30vw;
}
.horizontal{
    background-color: #003580;
    width: 100vw;
    height: 25vh;
    /* margin-top: 10vh; */
}
.top-vertical{
    background-color: #003580;
    width: 15vw;
    height: 37vh;
    margin-left: 30vw;
}